<div class="container-fluid">


    <button type="button" class="btn btn-default" ng-click="showCargarArchivos('/nuevoAlta')">Nuevo tarea</button>





    <div class="table-responsive">

        <table st-table="tareas" class="table table-bordered table-striped">
            <thead>
                <tr>

                    <th colspan="5">
                    
                        <input type="text" class="form-control" placeholder="busqueda" ng-model="searchFish">
                    </th>
                </tr>
                <tr>
                    <th>Cedula</th>
                    <th>Nombre </th>
                    <th>Apellido</th>
                    <th>funciones</th>
                </tr>

            </thead>
            <tbody>
              
                <tr ng-repeat="tarea in tareas | filter:searchFish ">
                    <td>{{tarea.cedula}}</td>
                    <td>{{tarea.nombre}}</td>
                    <td>{{tarea.apellido}}</td>
                  
                    <td>
                        <button type="button" ng-click="eliminar(tarea)" class="glyphicon glyphicon-remove text-danger">

                        </button>
                        <button type="button" ng-click="procesarObjeto(tarea)" class="glyphicon glyphicon-edit text-warning">
                         <button type="button" class="btn btn-default" ng-click="showCargarArchivos('/nuevaHistoria')">Nuevo tarea</button>

                        </button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>












</div>