

<div class="container">
    <form>
        <h3>Edita la tarea</h3>
        <div class="has-feedback">
             <input type="text" class="form-control" placeholder="Cedula" ng-model="tarea.cedula" value="{{tarea.cedula}}"> </input>
        
            <input type="text" class="form-control" placeholder="Nombre" ng-model="tarea.nombre" value="{{tarea.nombre}}"> </input>
         
               <input type="text" class="form-control" placeholder="Apellido" ng-model="tarea.apellido" value="{{tarea.apellido}}"> </input>
          
          
          
          
           <input type="text" class="form-control"  placeholder="Enter email" ng-model="tarea.email" value="{{tarea.email}}"> </input>
           <label>fecha de nacimiento</label>
           <input type="date" class="form-control" name="eventDate" ng-model="tarea.fecha_de_nacimiento" value="{{tarea.fecha_de_nacimiento }}"> </input>
           
           
                    <label>Sexo</label>
                    <select class="form-control " style="width: 100%;" ng-model="tarea.sexo" value="{{tarea.sexo}}">
                      <option selected="selected">Seleccione una opcion</option>
                      <option>Maculino</option>
                      <option>Femenino</option>
                     
                    </select>
               
           <label>Estado Civil</label>
                    <select class="form-control " style="width: 100%;" ng-model="tarea.estado_civil" value="{{tarea.estado_civil}}">
                      <option selected="selected">Seleccione una opcion</option>
                      <option>Casado</option>
                      <option>Soltero</option>
                      <option>Divorciado</option>
                     
                    </select>
           
          
          
          
       
                        <label>Direccion</label>
                      <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="tarea.direccion" value="{{tarea.direccion}}"> </textarea>
        
           
        <label>Lugar de Residencia</label>
                      <textarea class="form-control" rows="3" placeholder="Enter ..." ng-model="tarea.lugar_de_residencia" value="{{tarea.lugar_de_residencia}}"></textarea>


       
            
       


        
                <input type="text" class="form-control" name="Telefono" placeholder="Telefono" ng-model="tarea.telefono" value="{{tarea.telefono}}"/>
       
            <input type="text" class="form-control" name="Celular" placeholder="Celular" ng-model="tarea.celular" value="{{tarea.celular}}"/>
            
            
              <label>Profesion</label>
                    <select class="form-control " style="width: 100%;" ng-model="tarea.profesion" value="{{tarea.profesion}}">
                      <option selected="selected">Seleccione una opcion</option>
                      <option>Educador</option>
                      <option>Doctor</option>
                      <option>contabilidad </option>
                        <option>enfermería</option>
                          <option>militar</option>
                            <option>Abogado</option>
                     
                    </select>
       
            <label>Ocupacion</label>
                    <select class="form-control " style="width: 100%;" ng-model="tarea.ocupacion" value="{{tarea.ocupacion}}">
                      <option selected="selected">Seleccione una opcion</option>
                      <option>Jardinero</option>
                      <option>Decorador</option>
                      <option>Panadero</option>
                     
                    </select>
      
       
      
            <input type="text" class="form-control" name="emergencia" placeholder="nombre de la persona a contactar en caso de emergencia" ng-model="tarea.contacto_de_emergencia" value="{{tarea.contacto_de_emergencia}}"/>
        
            <input type="text" class="form-control" name="Telefono" placeholder="Telefono" ng-model="tarea.contacto_telefono" value="{{tarea.contacto_telefono}}" />
       
            <input type="text" class="form-control" name="Celular" placeholder="Celular" ng-model="tarea.contacto_celular" value="{{tarea.contacto_celular}}"/>
       

          
          
          
          
          
          
          
          
            <span class="glyphicon glyphicon-tasks form-control-feedback"></span>
       
       
       
        </div>
    
        <div class="text-center editBtn">
            <button class="btn btn-success btn-sm" ng-click="actualizar()">Actualizar</button>
            <button class="btn btn-danger btn-sm" ng-click="eliminar()">Eliminar</button>
        </div>
    </form>
  


</div>