
  <div class="login-box">
    <h1></i>Binvenido al Sistema</h1>
    <hr>
   

    <div class="input-box">
      <div class="center">
        <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            
          <form  class="form-auth" >
	<h2>Iniciar sesion</h2>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="user.username" placeholder="Usuario" class="form-control"><br>
	<input type="password" ng-model="user.password" placeholder="Contraseña" class="form-control"><br>
	
     <a ng-click="login()" class="btn btn-info" role="button">Login</a>
    
    
    
</form>
        </div>
        <!-- col -->
      </div>
      <!-- row -->
    </div>
    <!-- input-box -->
  </div>